<!-- Modal -->
<div id="modalMap" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close_modal_ubication" title="Cerrar ventana" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Ubicación</h4>
            </div>
            <div class="modal-body">
                <input id="pac-input" class="controls" type="text" title="Busque por ciudad, calle, plaza, etc."
                       placeholder="Buscar...">
                <div id="map"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="no-location btn btn-default" title="Cerrar ventana" data-dismiss="modal">Sin localización</button>
                <button type="button" class="btn btn-primary" id="save-ubication" title="Cambiar a ubicación elegida">Cambiar</button>
            </div>
        </div>

    </div>
</div>