$mainColor: #a80c0c;
$mainColorLight: rgb(227, 49, 40);
$mainColorText: #f2f2f2;
$secundaryColorText: #363c3f;
$secundaryColor: #c2ae16;
$secundaryColorLight: rgba(225, 192, 51, 0.76);
$complementaryColor: #FF4F00;
$complementaryColorDark: #c54000;
$colorAlert: rgb(14, 4, 198);
$colorAlertLight: rgba(41, 52, 255, 0.87);
$shadowLight: rgba(200, 200, 200, 0.91);